body {
  background: linear-gradient(black, white) no-repeat;
}

.header {
  font-family: Playfair Display;
  text-align: center;
  vertical-align: middle;
  max-height: 20vmax;
}

.header-col {
  padding: 0 !important;
}

.header-text {
  text-align: center;
  vertical-align: center;
}

.header-text > h1 {
  font-size: 5vmin;
  margin-bottom: 1vmin;
}

.header-text > h2 {
  font-size: 5vmin;
  margin-top: 1vmin;
}

.header-first {
  vertical-align: middle;
}

.header-sideimg {
  max-height: 2%;
  max-width: 20% 25px;
  vertical-align: middle;
  margin-top: 1.5em;
}

.header-img {
  width: 100%;
  max-width: 1400px;
  display: inline-block !important;
}

.header-img-wrapper {
  text-align: center;
}

.content {
  margin-top: 1em;
  padding-top: 1em;
  margin-bottom: 10vh;
  width: 90%;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.nav-item > li {
  padding: 0px;
  background: yellow;
}

a {
  padding: 0px;
}

.mapcontainer-wrapper2 {
  height: 55vh;
  width: 100%;
  padding: 1vw;
}

.mapcontainer-wrapper {
  height: 55vh;
  width: 100%;
  padding: 10;
  text-align: center;
}

.map-window {
  left: 14%;
}

.article {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.article-image {
  max-width: 80%;
}

.article-image-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.navbar {
  margin-bottom: 0 !important;
  background: #0a0f0f !important;
}
