body {
  background: linear-gradient(black, white) no-repeat;
}

.header {
  font-family: sofia;
  text-align: center;
  vertical-align: middle;
}

.header-text {
  text-align: center;
}

.header-sideimg {
  max-height: 30%;
  max-width: 30%;
  vertical-align: middle;
}

.header-img {
  width: 100%;
}

.content {
  margin-top: 10px;
  width: 90%;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.nav-item > li {
  padding: 0px;
  background: yellow;
}

a {
  padding: 0px;
}

.mapcontainer-wrapper2 {
  height: 55vh;
  width: 100%;
  padding: 1vw;
}

.mapcontainer-wrapper {
  height: 55vh;
  width: 100%;
  padding: 10;
  text-align: center;
}

.map-window {
  left: 14%;
}

.article {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.article-image {
  max-width: 80%;
}

.article-image-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.navbar {
  margin-bottom: 0 !important;
}
